<ion-view view-title="Specification">
    <ion-content>
        <div class="bar bar-subheader">
            <select name="budget_range" id="">
                <option value="">Budget</option>
                <option value="">Value for Money</option>
                <option value="">Luxury</option>
            </select>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Select Feature</span>
                <select name="feature_name" id="">
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                    <option value="">D</option>
                </select>
            </label>
        </div>

        <ion-slide-box>
            <ion-slide>
                <div class="box blue"><h1>FLOORING</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h1>WALLS</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>


    </ion-content>
</ion-view>
